p {
  color: white !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 5rem;
}

.blur-text-small p {
  font-size: 3rem !important;
}

.inline-block {
  display: inline-block;
  color: white;
}