.achievements-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.achievements-blur-text {
  text-align: center;
  font-size: 3rem !important;
}

@media (max-width: 768px) {
  .achievements-blur-text {
    font-size: 3rem !important;
  }
}
